p{
	font-size: 50px; 
}
body{
	background-color:#60D5DA;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	
}
button {
    background-color: white;
    color: black;
    border: 3px solid #20D5DA; /* Green */
    height: 50px;
    width: 80%;
    border-radius: 12px;
    box-shadow: 1px 1px rgba(0,0,0,0.2);
}
.container{
	vertical-align: middle;
	padding-top: 15%;
}
#numero{
	background-color: white;
    color: black;
    border: 3px solid #20D5DA; /* Green */
    height: 20px;
    width: 30%;
    border-radius: 12px;
}
